.grand-total-row td {
  border-top: 1px solid #eef0f2; /* gray-300 */
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
table {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;

}
.border-left-right-0 {
    border-left: 0;
    border-right: 0;
}
.non-top-border {
  border-top: 0 ;
  background-color: #f3f4f6;
  border-color: #e4e6e8;
}
.color-background-for-footer {
  background-color: #f3f4f6;
  border-color: #e4e6e8;
  border-bottom: 0;
}